                                                                    <center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
# Your code here
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

Download the webpage at the url

In [3]:
#your code goes here
data  = requests.get(url).text

Create a soup object

In [4]:
#your code goes here
soup = BeautifulSoup(data,"html5lib")

Scrape the `Language name` and `annual average salary`.

In [7]:
table = soup.find('table')

In [23]:
#your code goes here
Language=[]
Salary=[]
 
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
  table_head = row.find_all('th')
  cols = row.find_all('td')
  Language.append(cols[2].getText()) # store the value in column 3 as color_name
  Salary.append(cols[3].getText())
print(Language)
print(Salary)

['Created By', 'Guido van Rossum', 'James Gosling', 'Robert Gentleman, Ross Ihaka', 'Netscape', 'Apple', 'Bjarne Stroustrup', 'Microsoft', 'Rasmus Lerdorf', 'Donald D. Chamberlin, Raymond F. Boyce.', 'Robert Griesemer, Ken Thompson, Rob Pike.']
['Average Annual Salary', '$114,383', '$101,013', '$92,037', '$110,981', '$130,801', '$113,865', '$88,726', '$84,727', '$84,793', '$94,082']

In [24]:
import pandas as pd
import numpy as np
df = pd.DataFrame()
df["Language name"] = np.array(Language)
df["annual average salary"] = np.array(Salary)
df

                                Language name  annual average salary
0                                  Created By  Average Annual Salary
1                            Guido van Rossum               $114,383
2                               James Gosling               $101,013
3                Robert Gentleman, Ross Ihaka                $92,037
4                                    Netscape               $110,981
5                                       Apple               $130,801
6                           Bjarne Stroustrup               $113,865
7                                   Microsoft                $88,726
8                              Rasmus Lerdorf                $84,727
9     Donald D. Chamberlin, Raymond F. Boyce.                $84,793
10  Robert Griesemer, Ken Thompson, Rob Pike.                $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [25]:
# your code goes here

df.to_csv("popular-languages.csv", index=False)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01).